@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);

.App {
  min-width: 320px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: #fafafa;

  font-family: "Inter", "Arial", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  margin: 0 auto;
}
