.navigation {
  overflow-y: scroll;
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, .5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-out;
  z-index: 1;
}

.navigation__container {
  display: grid;
  grid-template-rows: repeat(3, 28px);
  row-gap: 22px;

  justify-items: center;
  justify-content: center;

  width: 520px;
  height: 100%;
  min-height: 1024px;

  background-color: #fafafa;

  padding: 159px 0 0 0;
  margin: 0;
}

.navigation-enable {
  visibility: visible;
  opacity: 1;
}

.navigation__links {
  display: grid;
  grid-template-rows: auto;
  row-gap: 4px;

  margin: 0;
}

.navigation__link {
  width: 100%;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  text-decoration: none;
  color: #000000;

  margin: 0;
}

.navigation__link:hover {
  opacity: .7;
  transition: opacity .2s linear;
  cursor: pointer;
}

.navigation__underline {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in, visibility 0.3s ease-out;

  width: 100%;
  height: 2px;

  background-color: #000000;

  margin: 0;
}

.navigation__underline-enable {
  visibility: visible;
  opacity: 1;
}

.navigation__profile-button {
  width: 100px;
  height: 32px;

  border: none;

  background-image: url(../../images/profile-button.svg);
  background-color: #fafafa;

  margin: 593px 0 90px 0;
}

.navigation__profile-button:hover {
  opacity: .7;
  transition: opacity .2s linear;
}

.navigation__close-button {
  position: absolute;

  width: 32px;
  height: 32px;

  border: none;

  top: 22.5px;
  right: 22.5px;

  background-image: url(../../images/close__button.svg);
  background-color: #fafafa;
  background-repeat: no-repeat;

  margin: 0;
}

.navigation__close-button:hover {
  opacity: .7;
  transition: opacity .2s linear;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .navigation__container {
    grid-template-rows: repeat(3, 31px);
    row-gap: 15px;

    width: 320px;

    padding: 144px 0 0 0;
  }

  .navigation__links {
    row-gap: 7px;
  }
  .navigation__profile-button {
    margin: 420px 0 46px 0;
  }

  .navigation__close-button {
    top: 13.5px;
    right: 13.5px;
  }
}