.portfolio {
  max-width: 1280px;

  padding-top: 100px;
  margin: 0 auto 125px;
}

.portfolio__title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #a0a0a0;
  margin: 0 70px 0;
}

.portfolio__navigation {
  display: grid;
  grid-template-rows: repeat(3, 70px);
  row-gap: 20px;

  margin: 50px 70px 0;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid rgba(232, 232, 232, 1);
  border-top: none;
  border-left: none;
  border-right: none;
}

.portfolio__name {
  font-size: 30px;
  line-height: 50px;
}

.portfolio__url {
  align-self: center;
  width: 29px;
  height: 30px;
  background-image: url(../../../images/portfolio__url.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding-top: 90px;
    margin: 0 max(calc(100% * (50 / 768))) 90px;
  }

  .portfolio__navigation {
    display: grid;
    grid-template-rows: repeat(3, 70px);
    row-gap: 20px;

    margin: max(calc(100vw * (50 / 768))) 0 0 0;
  }

  .portfolio__name {
    font-size: calc(100vw * (30 / 768));
    line-height: 50px;
  }

  .portfolio__url {
    width: 25px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio {
    padding-top: 70px;
    margin: 0 14px 70px 14px;
  }

  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__navigation {
    grid-template-rows: repeat(3, 48px);

    margin: 40px 0 0 0;
  }

  .portfolio__name {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__url {
    align-self: flex-start;
    width: 18px;
    height: 12px;
    background-image: url(../../../images/portfolio__url.svg);
    background-repeat: no-repeat;
    background-size: contain;

    margin: 6px 0 0 0;
  }
}
