.navtab {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 96px);
  column-gap: 10px;

  margin: 0 0 30px;
}

.navtab__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 96px;
  height: 36px;
  background-color: #E8E8E8;

  border-radius: 10px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 500;

  margin: 0;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 320px) {
  .navtab {
    grid-template-columns: repeat(3, 82px);

    column-gap: 6px;
    padding-top: 212px;
    margin: 0 0 17px;
  }

  .navtab__item {
    width: 82px;
    height: 26px;

    font-size: 10px;
  }
}