.header {
  max-width: 1280px;
  height: 74px;
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
}

.header__logo {
  width: 38px;
  height: 38px;
  background-image: url(../../images/header__logo.svg);
  margin: 18px 62px 18px 70px;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__films-button {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #000000;

  margin: 0 0 0 0;
}

.header__saved-films-button {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;

  margin: 0 0 0 16px;
}

.header__profile-button {
  justify-self: flex-end;
  width: 100px;
  height: 32px;
  background-image: url(../../images/header__profile-button.svg);
  margin: 21px 70px 21px 0;
}

.header__hamburger {
  display: none;
  width: 44px;
  height: 44px;
  background-image: url(../../images/header__hamburger.svg);
  margin: 15px 30px 15px 0;
}

.header__auth {
  display: flex;
  align-items: center;
  margin: 21px 70px 21px 0;
}

.header__registration {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #000000;

  margin: 0 30px 0 0;
}

.header__login {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;

  width: 76px;
  height: 32px;
  background-image: url(../../images/header__login.svg);
  color: #fafafa;

  margin: 0;
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin: 18px 0 18px 30px;
  }

  .header__auth {
    margin: 21px 30px 21px 0;
  }

  .header__navigation {
    display: none;
  }

  .header__profile-button {
    display: none;
  }

  .header__hamburger {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    margin: 18px 0 18px 14px;
  }

  .header__auth {
    margin: 24px 14px 24px 0;
  }

  .header__registration {
    font-size: 10px;
    margin: 0 14px 0 0;
  }

  .header__login {
    width: 54px;
    height: 26px;
    font-size: 10px;
  }

  .header__hamburger {
    width: 40px;
    height: 43px;
    margin: 15px 14px 16px 0;
  }
}
