.footer {
  padding-top: 60px;
  margin: 0 max(calc(100% * (70 / 1280))) 20px;
}

.footer__title {
  height: 37px;

  font-size: 13px;
  line-height: 16px;
  color: #A0A0A0;
  text-align: center;

  border-bottom: 1px solid rgba(232, 232, 232, 1);
  border-top: none;
  border-left: none;
  border-right: none;

  margin: 0;
}

.footer__navigation {
  height: 16px;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  margin: 20px 0 0 0;
}

.footer__copyright {
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}

.footer__links {
  display: grid;
  grid-template-columns: 120px 42px 61px;
  column-gap: 20px;

  margin: 0;
}

.footer__link {
  font-size: 13px;
  line-height: 16px;

  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0 max(calc(100% * (30 / 1280))) 20px;
  }

  .footer__links {
    display: grid;
    grid-template-columns: 120px 42px 61px;
    column-gap: calc(100vw * (20 / 768));

    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 57px;
  }

  .footer__navigation {
    height: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 30px 0 0 0;
  }

  .footer__links {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(3, 15px);
    row-gap: 12px;

    text-align: center;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
    margin: 30px 0 0 0;
  }
}