.promo {
  width: calc(100% * (1200 / 1280));
  max-width: 1200px;
  min-height: 493px;
  max-height: 834px;

  background-color: #f5f5f5;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 20px auto 0;
}

.promo__title {
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  text-align: center;

  padding-top: 160px;
  margin: 0 calc(100vw * (250 / 1280));
}

@media screen and (max-width: 768px) {
  .promo {
    max-width: 728px;
    height: 834px;
  }

  .promo__title {
    font-size: 40px;
    line-height: 52px;

    padding-top: calc(100vw * (350 / 768));
    margin: 0 24px 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .promo {
    width: 292px;
    height: 586px;

    margin: 0 14px 0 14px;
    padding-top: 14px;
  }

  .promo__title {
    font-size: 29px;
    line-height: 37px;

    margin: 0;
    padding-top: 220px;
  }
}