.aboutme {
  max-width: 1280px;

  padding-top: 110px;
  margin: 0 auto;
}

.aboutme__header {
  width: calc(100vw * (1140 / 1280));
  max-width: 1140px;
  height: 50px;

  font-size: 22px;
  line-height: 27px;

  border-bottom: 1px solid rgba(0, 0, 0, 1);
  border-top: none;
  border-left: none;
  border-right: none;

  margin: 0 auto;
}

.aboutme__profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  margin: 66px max(calc(100% * (70 / 1280))) 0;
}

.aboutme__profile-info {
  width: calc(100vw * (600 / 1280));
  max-width: 600px;
}

.aboutme__name {
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;

  margin: 0;
}

.aboutme__specialis {
  font-size: 18px;
  line-height: 20px;

  margin: 18px 0 0 0;
}

.aboutme__bio {
  font-size: 15px;
  line-height: 22px;

  margin: 26px 0 0 0;
}

.aboutme__links {
  display: grid;
  grid-template-columns: 66px 46px;
  column-gap: 20px;
  margin: 99px 0 0 0;
}

.aboutme__link {
  font-size: 14px;
  line-height: 17px;

  margin: 0;
}

.aboutme__avatar {
  justify-self: flex-end;
  width: 270px;
  height: 327px;
  background-image: url(../../../images/aboutme__avatar.png);
  border-radius: 10px;

  margin: 0;
}

@media screen and (max-width: 768px) {
  .aboutme {
    padding-top: 90px;
  }

  .aboutme__header {
    width: calc(100vw * (668 / 768));
    max-width: 668px;
  }

  .aboutme__profile {
    margin: 66px max(calc(100% * (50 / 768))) 0;
  }

  .aboutme__profile-info {
    width: calc(100vw * (364 / 768));
    max-width: 364px;
    min-width: 292px;
  }

  .aboutme__name {
    font-size: 40px;
    line-height: 40px;
  }

  .aboutme__specialis {
    font-size: 12px;
    line-height: 18px;

    margin: 16px 0 0 0;
  }

  .aboutme__bio {
    font-size: 13px;
    line-height: 18px;

    margin: 20px 0 0 0;
  }

  .aboutme__links {
    margin: 10px 0 0 0;
  }

  .aboutme__link {
  }

  .aboutme__avatar {
    width: 255px;
    height: 307px;
    background-image: url(../../../images/aboutme__avatar.png);
    background-size: contain;

    margin: 0;
  }
}

@media screen and (max-width: 695px) {
  .aboutme__profile {
    grid-template-columns: minmax(292px, 1fr);
    grid-template-rows: 352px 262px;
    row-gap: 40px;
  }

  .aboutme__avatar {
    justify-self: center;
    grid-row: 1;
  }
}

@media screen and (max-width: 320px) {
  .aboutme {
    padding-top: 70px;
  }

  .aboutme__header {
    width: calc(100vw * (292 / 320));
    max-width: 292px;

    font-size: 18px;
    line-height: 22px;
  }

  .aboutme__profile {
    grid-template-columns: none;
    grid-template-rows: 352px 262px;
    row-gap: 40px;

    margin: 60px 14px 0;
  }

  .aboutme__profile-info {
    width: 292px;
    margin: 0;
  }

  .aboutme__name {
    font-size: 30px;
    line-height: 36px;
  }

  .aboutme__specialis {
    font-size: 11px;
    line-height: 16px;

    margin: 20px 0 0 0;
  }

  .aboutme__bio {
    font-size: 12px;
    line-height: 16px;
  }

  .aboutme__links {
    column-gap: 26px;
    margin: 40px 0 0 0;
  }

  .aboutme__link {
  }

  .aboutme__avatar {
    /* justify-self: flex-start; */
    grid-row: 1;
    width: 292px;
    height: 352px;
    background-image: url(../../../images/aboutme__avatar.png);
    background-repeat: no-repeat;
  }
}
