.login {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffff;

  padding: 70px 0;
  margin: 0;
}

.login__logo {
  width: 396px;
  height: 38px;
  display: block;

  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  margin: 0;
}

.login__logo:hover {
  opacity: .7;
  transition: opacity .2s linear;
  cursor: pointer;
}

.login__title {
  width: 396px;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  margin: 40px 0 0;
}

.login__form {
  display: flex;
  flex-direction: column;

  margin: 40px 0 0 0;
}

.login__name {
  font-size: 10px;
  line-height: 12px;

  color: #a0a0a0;

  margin: 0;
}

.login__input {
  width: 396px;
  height: 46px;

  text-indent: 15px;

  background-color: #f4f4f4;

  border: none;
  border-radius: 8px;

  outline: none;

  font-size: 13px;
  line-height: 16px;

  padding: 0;
  margin: 10px 0 19px 0;
}

.login__input:nth-of-type(2) {
  font-weight: 500;
}

.login__input:last-of-type {
  margin: 10px 0 12px 0;
}

.login__error {
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;

  margin: 0;
}

.login__signup {
  width: 396px;
  height: 45px;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  background-color: #3456f3;
  color: #ffffff;

  border: none;
  border-radius: 3px;

  padding: 0;
  margin: 169px 0 0 0;
}

.login__signup:hover {
  opacity: .8;
  transition: opacity .2s linear;
  cursor: pointer;
}

.login__signin {
  font-size: 14px;
  line-height: 17px;
  color: #3456f3;
  text-decoration: none;

  margin: 0 0 0 6px;
}

.login__signin:hover {
  opacity: .7;
  transition: opacity .2s linear;
  cursor: pointer;
}

.login__signup-question {
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
  text-align: center;

  margin: 16px 0 0 0;
}

@media screen and (max-width: 768px) {
  .login {
    padding: 232px 0;
  }

  .login__logo {
    width: calc(150vw * (396 / 768));
    max-width: 396px;
  }

  .login__title {
    width: calc(150vw * (396 / 768));
    max-width: 396px;
  }

  .login__input {
    width: calc(150vw * (396 / 768));
    max-width: 396px;
  }

  .login__signup {
    width: calc(150vw * (396 / 768));
    max-width: 396px;
  }

  .login__form {
    margin: 40px 0 0 0;
  }
}
@media screen and (max-width: 320px) {
  .login {
    padding: 56px 0 30px 0;
  }

  .login__logo {
    width: 38px;
  }

  .login__title {
    width: calc(100vw * (260 / 320));
    max-width: 260px;
    text-align: center;

    margin: 50px 0 0;
  }

  .login__form {
    width: calc(100vw * (260 / 320));
    max-width: 260px;
    margin: 80px 0 0 0;
  }

  .login__input {
    width: calc(100vw * (260 / 320));
    max-width: 260px;
  }

  .login__signup {
    width: calc(100vw * (260 / 320));
    max-width: 260px;

    font-size: 12px;
    line-height: 15px;

    margin: 257px 0 0 0;
  }

  .login__signin {
    font-size: 12px;
    line-height: 15px;

    margin: 0 0 0 7px;
  }

  .login__signup-question {
    font-size: 12px;
    line-height: 15px;

    margin: 13px 0 0 0;
  }
}
